* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #2C2C2E;
}

header {
  background-color: black;
  position: fixed;
  height: 150px;
  width: 100%;
}

header img {
  position: relative;
  height: 60%;
  resize: horizontal;
  top: 20%;
  left: 46%;
}

main {
  background-color: #2C2C2E;
  position: fixed;
  width: 100%;
  top: 150;
  bottom: 100%;
}

main .controller1 {
  background-color: #5A5B5E;
  position: fixed;
  top: 35%;
  left: 25%;
  width: 50%;
  margin: 0 auto;
  border-radius: 2px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.row > * {
  display: inline-block;
  margin: 0 5px;
}
